.demo {
    margin: 5rem auto;
    padding: 1rem;
    width: 100%;
}

.demo .container {
    width: 1240px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.demo .col-1 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.demo .col-1 p:nth-child(1) {
    font-size: 1.8rem;
    font-style: italic;
}

.demo .col-1 p:nth-child(2) {
    font-size: 3rem;
    font-weight: 600;
    margin: .5rem 0;
}

.demo .col-1 p:nth-child(3) {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


.demo .col-2 {
    margin: auto;
}


@media screen and (max-width: 940px) {
    .demo .container {
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .demo iframe {
        width: 100%;
        height: auto;
    }
}











